{% extends 'base.html' %}

{% block content %}

<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none fw-bold">
                SINAWA
            </a>
        </div>
    
        <div class="col-md-3 text-end">
            <a href="/logout" type="button" class="btn btn-danger">Logout</a>
        </div>
    </header>

    <form class="d-flex justify-content-between mt-3" onsubmit="proses(event, this)">
        <div class="col-6 d-flex gap-2">
            <div class="input-group">
                <span class="input-group-text">File CSV</span>
                <input type="file" name="file" class="form-control">
            </div>
            <button class="btn btn-outline-primary">Proses</button>
        </div>

        <a id="btn-download" class="d-none" href="{{ url_for('static', filename='result.csv') }}">
            <button type="button" class="btn btn-primary">Unduh</button>
        </a>
    </form>


    <div id="result" class="mt-3">
        
    </div>



</div>

{% endblock %}

{% block script %}
<script>
    function proses(event, element) {
        event.preventDefault()

        data = new FormData(element)

        $('#result').html('')
        $('#btn-download').addClass('d-none')

        $.ajax({
            url: '/proses',
            processData: false,
            contentType: false,
            method: 'POST',
            data: data,
            beforeSend: () => $('.preloader').addClass('active'),
            complete: () => $('.preloader').removeClass('active'),
            success: data => {
                $('#btn-download').removeClass('d-none')
                $('#result').html(data)
            },
            error: err => {
                console.log(err)
            }
        })

    } 
</script>
{% endblock %}